@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Inter:wght@500&display=swap');

@layer base {
  html {
    @apply antialiased;
  }
  
  body {
    @apply bg-gray-50 dark:bg-gray-900 text-black dark:text-white transition-colors;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
